.perfil{
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.perfil__imagem{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

}

.perfil__texto{
    margin-left: 1em;

}

.perfil__titulo{
    color: var(--cor-principal-font);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.perfil__paragrafo{
    color: var(--cor-secundaria-font);
    font-size: 14px;
    font-weight: 400;
}


.barra__titulo{
    color: var(--cor-principal-font);
    font-size: 16px;
    font-weight: 700;
    margin-top: 1.87em;
    margin-bottom: 0.5em;

}