.cabecalho {
    background-color: var(--cor-fundo-cabeçalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2em 5em;
}

.container {
    display: flex;
    align-items: center;

}

.opcoes {
    display: flex;

}

.button{
    margin-right: 5em;
}

.opcoes__item{
    margin: 1.8em;
}